.grid {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr;
  margin-bottom: var(--space-lg);
}

.linkRow {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
  }

  .grid > :nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid > :nth-child(1) > div:first-child {
    width: 64px;
    height: 64px;
  }
  .grid > :nth-child(2),
  .grid > :nth-child(3) {
    grid-column: span 6;
  }
}
